<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>挑战3：课程查询</title>
</head>
<body>
    <h1>输入作者名字，查询全部课程信息</h1>
    <form action='/learn/search' method='POST'>
        <p>作者名字<input type='text' name='name'></p>
        <p><input type='submit' value='提交'></p>
    </form>
    <table>
        <tr>
            <td>课程名</td>
            <td>出版时间</td>
            <td>学生人数</td>
        </tr>
        {% for course in courses %}
            <tr>
                <td>{{ course.name }}</td>
                <td>{{ course.pub_date }}</td>
                <td>{{ course.stu_number }}</td>
            </tr>
        {% endfor %}
    </table>
</body>
</html>
